<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.dao.jc.JiaoCaiIssuenumberMapper" >
  <resultMap id="BaseResultMap" type="com.management.pojo.jc.JiaoCaiIssuenumber" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="issuenumber" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="note" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, issuenumber, status, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from JiaoCaiIssuenumber
    where id = #{id,jdbcType=INTEGER}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from JiaoCaiIssuenumber
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.management.pojo.jc.JiaoCaiIssuenumber" >
    insert into JiaoCaiIssuenumber (id, issuenumber, status, 
      note)
    values (#{id,jdbcType=INTEGER}, #{issuenumber,jdbcType=NVARCHAR}, #{status,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.management.pojo.jc.JiaoCaiIssuenumber" >
    insert into JiaoCaiIssuenumber
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="issuenumber != null" >
        issuenumber,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="issuenumber != null" >
        #{issuenumber,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.pojo.jc.JiaoCaiIssuenumber" >
    update JiaoCaiIssuenumber
    <set >
      <if test="issuenumber != null" >
        issuenumber = #{issuenumber,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.pojo.jc.JiaoCaiIssuenumber" >
    update JiaoCaiIssuenumber
    set issuenumber = #{issuenumber,jdbcType=NVARCHAR},
      status = #{status,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultType="com.management.pojo.jc.JiaoCaiIssuenumber">
    select <include refid="Base_Column_List" />
    from JiaoCaiIssuenumber
    <where>
      <if test="id != null and id != '' ">
        and id = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="issuenumber != null and issuenumber != '' " >
        and issuenumber = #{issuenumber,jdbcType=INTEGER}
      </if>
      <if test="status != null and status != '' " >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="note != null and note != '' " >
        and note = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>