<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.dao.jc.JiaoCaiItrnMapper" >
  <resultMap id="BaseResultMap" type="com.management.pojo.jc.JiaoCaiItrn" >
    <constructor >
      <idArg column="id" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="issuenumber" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="subcode" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="fromLoc" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="toLoc" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="addwho" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="adddate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="qty" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="sourceId" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="fromId" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="toId" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="pack" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bk1" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk2" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk3" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk4" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk5" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="fromtable" jdbcType="NVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, issuenumber, subcode, fromLoc, toLoc, addwho, adddate, qty, sourceId, fromId,
    toId, type, pack, bk1, bk2, bk3, bk4, bk5, fromtable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from JiaoCaiItrn
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from JiaoCaiItrn
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.management.pojo.jc.JiaoCaiItrn" >
    insert into JiaoCaiItrn (id, issuenumber, subcode, 
      fromLoc, toLoc, addwho, 
      adddate, qty, sourceId,
      fromId, toId, type, 
      pack, bk1, bk2, bk3, 
      bk4, bk5, fromtable
      )
    values (#{id,jdbcType=NUMERIC}, #{issuenumber,jdbcType=NVARCHAR}, #{subcode,jdbcType=NVARCHAR}, 
      #{fromloc,jdbcType=NVARCHAR}, #{toloc,jdbcType=NVARCHAR}, #{addwho,jdbcType=NVARCHAR}, 
      getdate(), #{qty,jdbcType=NUMERIC}, #{sourceid,jdbcType=NUMERIC},
      #{fromid,jdbcType=NVARCHAR}, #{toid,jdbcType=NVARCHAR}, #{type,jdbcType=NVARCHAR}, 
      #{pack,jdbcType=INTEGER}, #{bk1,jdbcType=NVARCHAR}, #{bk2,jdbcType=NVARCHAR}, #{bk3,jdbcType=NVARCHAR}, 
      #{bk4,jdbcType=NVARCHAR}, #{bk5,jdbcType=NVARCHAR}, #{fromtable,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.management.pojo.jc.JiaoCaiItrn" >
    insert into JiaoCaiItrn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="issuenumber != null" >
        issuenumber,
      </if>
      <if test="subcode != null" >
        subcode,
      </if>
      <if test="fromloc != null" >
        fromLoc,
      </if>
      <if test="toloc != null" >
        toLoc,
      </if>
      <if test="addwho != null" >
        addwho,
      </if>
      <if test="1 == 1" >
        adddate,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="sourceid != null" >
        sourceId,
      </if>
      <if test="fromid != null" >
        fromId,
      </if>
      <if test="toid != null" >
        toId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="pack != null" >
        pack,
      </if>
      <if test="bk1 != null" >
        bk1,
      </if>
      <if test="bk2 != null" >
        bk2,
      </if>
      <if test="bk3 != null" >
        bk3,
      </if>
      <if test="bk4 != null" >
        bk4,
      </if>
      <if test="bk5 != null" >
        bk5,
      </if>
      <if test="fromtable != null" >
        fromtable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="issuenumber != null" >
        #{issuenumber,jdbcType=NVARCHAR},
      </if>
      <if test="subcode != null" >
        #{subcode,jdbcType=NVARCHAR},
      </if>
      <if test="fromloc != null" >
        #{fromloc,jdbcType=NVARCHAR},
      </if>
      <if test="toloc != null" >
        #{toloc,jdbcType=NVARCHAR},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=NVARCHAR},
      </if>
      <if test="1 == 1" >
        getdate(),
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=NUMERIC},
      </if>
      <if test="sourceid != null" >
        #{sourceid,jdbcType=NUMERIC},
      </if>
      <if test="fromid != null" >
        #{fromid,jdbcType=NVARCHAR},
      </if>
      <if test="toid != null" >
        #{toid,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="pack != null" >
        #{pack,jdbcType=INTEGER},
      </if>
      <if test="bk1 != null" >
        #{bk1,jdbcType=NVARCHAR},
      </if>
      <if test="bk2 != null" >
        #{bk2,jdbcType=NVARCHAR},
      </if>
      <if test="bk3 != null" >
        #{bk3,jdbcType=NVARCHAR},
      </if>
      <if test="bk4 != null" >
        #{bk4,jdbcType=NVARCHAR},
      </if>
      <if test="bk5 != null" >
        #{bk5,jdbcType=NVARCHAR},
      </if>
      <if test="fromtable != null" >
        #{fromtable,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.pojo.jc.JiaoCaiItrn" >
    update JiaoCaiItrn
    <set >
      <if test="issuenumber != null" >
        issuenumber = #{issuenumber,jdbcType=NVARCHAR},
      </if>
      <if test="subcode != null" >
        subcode = #{subcode,jdbcType=NVARCHAR},
      </if>
      <if test="fromloc != null" >
        fromLoc = #{fromloc,jdbcType=NVARCHAR},
      </if>
      <if test="toloc != null" >
        toLoc = #{toloc,jdbcType=NVARCHAR},
      </if>
      <if test="addwho != null" >
        addwho = #{addwho,jdbcType=NVARCHAR},
      </if>
      <if test="adddate != null" >
        adddate = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=NUMERIC},
      </if>
      <if test="sourceid != null" >
        sourceId = #{sourceid,jdbcType=NUMERIC},
      </if>
      <if test="fromid != null" >
        fromId = #{fromid,jdbcType=NVARCHAR},
      </if>
      <if test="toid != null" >
        toId = #{toid,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=NVARCHAR},
      </if>
      <if test="pack != null" >
        pack = #{pack,jdbcType=INTEGER},
      </if>
      <if test="bk1 != null" >
        bk1 = #{bk1,jdbcType=NVARCHAR},
      </if>
      <if test="bk2 != null" >
        bk2 = #{bk2,jdbcType=NVARCHAR},
      </if>
      <if test="bk3 != null" >
        bk3 = #{bk3,jdbcType=NVARCHAR},
      </if>
      <if test="bk4 != null" >
        bk4 = #{bk4,jdbcType=NVARCHAR},
      </if>
      <if test="bk5 != null" >
        bk5 = #{bk5,jdbcType=NVARCHAR},
      </if>
      <if test="fromtable != null" >
        fromtable = #{fromtable,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.pojo.jc.JiaoCaiItrn" >
    update JiaoCaiItrn
    set issuenumber = #{issuenumber,jdbcType=NVARCHAR},
      subcode = #{subcode,jdbcType=NVARCHAR},
      fromLoc = #{fromloc,jdbcType=NVARCHAR},
      toLoc = #{toloc,jdbcType=NVARCHAR},
      addwho = #{addwho,jdbcType=NVARCHAR},
      adddate = #{adddate,jdbcType=TIMESTAMP},
      qty = #{qty,jdbcType=NUMERIC},
      sourceId = #{sourceid,jdbcType=NUMERIC},
      fromId = #{fromid,jdbcType=NVARCHAR},
      toId = #{toid,jdbcType=NVARCHAR},
      type = #{type,jdbcType=NVARCHAR},
      pack = #{pack,jdbcType=INTEGER},
      bk1 = #{bk1,jdbcType=NVARCHAR},
      bk2 = #{bk2,jdbcType=NVARCHAR},
      bk3 = #{bk3,jdbcType=NVARCHAR},
      bk4 = #{bk4,jdbcType=NVARCHAR},
      bk5 = #{bk5,jdbcType=NVARCHAR},
      fromtable = #{fromtable,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>