<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.dao.jc.JiaoCaiSkuMapper" >
  <resultMap id="BaseResultMap" type="com.management.pojo.jc.JiaoCaiSku" >
    <constructor >
      <idArg column="issuenumber" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <idArg column="subcode" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="id" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="barcode" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="descr" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="pack" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="publisher" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="addwho" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="editwho" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="adddate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="editdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="bundle" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    issuenumber, subcode, id, barcode, descr, price, pack, publisher, addwho, editwho, 
    adddate, editdate, bundle
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.management.pojo.jc.JiaoCaiSkuKey" >
    select 
    <include refid="Base_Column_List" />
    from JiaoCaiSku
    where issuenumber = #{issuenumber,jdbcType=NVARCHAR}
      and subcode = #{subcode,jdbcType=NVARCHAR}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="com.management.pojo.jc.JiaoCaiSkuKey" >
    delete from JiaoCaiSku
    where issuenumber = #{issuenumber,jdbcType=NVARCHAR}
      and subcode = #{subcode,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.management.pojo.jc.JiaoCaiSku" >
    insert into JiaoCaiSku (issuenumber, subcode, id, 
      barcode, descr, price, 
      pack, publisher, addwho, 
      editwho, adddate, editdate, 
      bundle)
    values (#{issuenumber,jdbcType=NVARCHAR}, #{subcode,jdbcType=NVARCHAR}, #{id,jdbcType=NUMERIC}, 
      #{barcode,jdbcType=NVARCHAR}, #{descr,jdbcType=NVARCHAR}, #{price,jdbcType=NUMERIC}, 
      #{pack,jdbcType=NUMERIC}, #{publisher,jdbcType=NVARCHAR}, #{addwho,jdbcType=NVARCHAR}, 
      #{editwho,jdbcType=NVARCHAR}, #{adddate,jdbcType=TIMESTAMP}, #{editdate,jdbcType=TIMESTAMP}, 
      #{bundle,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.management.pojo.jc.JiaoCaiSku" >
    insert into JiaoCaiSku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="issuenumber != null" >
        issuenumber,
      </if>
      <if test="subcode != null" >
        subcode,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="pack != null" >
        pack,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="addwho != null" >
        addwho,
      </if>
      <if test="editwho != null" >
        editwho,
      </if>
      <if test="adddate != null" >
        adddate,
      </if>
      <if test="editdate != null" >
        editdate,
      </if>
      <if test="bundle != null" >
        bundle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="issuenumber != null" >
        #{issuenumber,jdbcType=NVARCHAR},
      </if>
      <if test="subcode != null" >
        #{subcode,jdbcType=NVARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=NVARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="pack != null" >
        #{pack,jdbcType=NUMERIC},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=NVARCHAR},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=NVARCHAR},
      </if>
      <if test="editwho != null" >
        #{editwho,jdbcType=NVARCHAR},
      </if>
      <if test="adddate != null" >
        #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="editdate != null" >
        #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bundle != null" >
        #{bundle,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.pojo.jc.JiaoCaiSku" >
    update JiaoCaiSku
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=NUMERIC},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=NVARCHAR},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=NUMERIC},
      </if>
      <if test="pack != null" >
        pack = #{pack,jdbcType=NUMERIC},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=NVARCHAR},
      </if>
      <if test="addwho != null" >
        addwho = #{addwho,jdbcType=NVARCHAR},
      </if>
      <if test="editwho != null" >
        editwho = #{editwho,jdbcType=NVARCHAR},
      </if>
      <if test="adddate != null" >
        adddate = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="editdate != null" >
        editdate = #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bundle != null" >
        bundle = #{bundle,jdbcType=INTEGER},
      </if>
    </set>
    where issuenumber = #{issuenumber,jdbcType=NVARCHAR}
      and subcode = #{subcode,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.pojo.jc.JiaoCaiSku" >
    update JiaoCaiSku
    set id = #{id,jdbcType=NUMERIC},
      barcode = #{barcode,jdbcType=NVARCHAR},
      descr = #{descr,jdbcType=NVARCHAR},
      price = #{price,jdbcType=NUMERIC},
      pack = #{pack,jdbcType=NUMERIC},
      publisher = #{publisher,jdbcType=NVARCHAR},
      addwho = #{addwho,jdbcType=NVARCHAR},
      editwho = #{editwho,jdbcType=NVARCHAR},
      adddate = #{adddate,jdbcType=TIMESTAMP},
      editdate = #{editdate,jdbcType=TIMESTAMP},
      bundle = #{bundle,jdbcType=INTEGER}
    where issuenumber = #{issuenumber,jdbcType=NVARCHAR}
      and subcode = #{subcode,jdbcType=NVARCHAR}
  </update>

  <select id="findAll" resultType="com.management.pojo.jc.JiaoCaiSku">
    select <include refid="Base_Column_List"/>
    from JiaoCaiSku
    <where>
      <if test="id != null and id != '' ">
        and id = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="issuenumber != null and issuenumber != '' " >
        and issuenumber = #{issuenumber}
      </if>
      <if test="barcode != null and barcode != '' " >
        and barcode = #{barcode}
      </if>
      <if test="descr != null and descr != '' " >
        and descr = #{descr}
      </if>
      <if test="subcode != null and subcode != '' " >
        and subcode = #{subcode}
      </if>
      <if test="publisher != null and publisher != '' " >
        and publisher = #{publisher}
      </if>
      <if test="addwho != null and addwho != '' " >
        and addwho = #{addwho}
      </if>
      <if test="adddate != null and adddate != '' " >
        and adddate = #{adddate}
      </if>
    </where>
  order by adddate desc
  </select>

</mapper>