<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.dao.jc.JiaoCaiComputeMapper">
  <resultMap id="BaseResultMap" type="com.management.pojo.jc.JiaoCaiCompute">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="NUMERIC" />
      <arg column="issuenumber" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="subcode" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="code" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="shortname" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="loc" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="containerId" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="pack" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="bundle" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="qtyallocated" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="computedate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="computewho" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="caseqty" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="oddpack" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="odd" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="batchno" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shipno" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pickno" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="editwho" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="editdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="packwho" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="packdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="computeno" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="shipwho" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="shipdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="loaddate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, issuenumber, subcode, code, shortname, loc, containerId, pack, bundle, qtyallocated, 
    status, computedate, computewho, caseqty, oddpack, odd, type, batchno, shipno, pickno, 
    editwho, editdate, packwho, packdate, computeno, shipwho, shipdate, loaddate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from JiaoCaiCompute
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from JiaoCaiCompute
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.management.pojo.jc.JiaoCaiCompute">
    insert into JiaoCaiCompute (id, issuenumber, subcode, 
      code, shortname, loc, 
      containerId, pack, bundle, 
      qtyallocated, status, computedate, 
      computewho, caseqty, oddpack, 
      odd, type, batchno, 
      shipno, pickno, editwho, 
      editdate, packwho, packdate, 
      computeno, shipwho, shipdate, 
      loaddate)
    values (#{id,jdbcType=NUMERIC}, #{issuenumber,jdbcType=NVARCHAR}, #{subcode,jdbcType=NVARCHAR}, 
      #{code,jdbcType=NVARCHAR}, #{shortname,jdbcType=NVARCHAR}, #{loc,jdbcType=NVARCHAR}, 
      #{containerid,jdbcType=NVARCHAR}, #{pack,jdbcType=INTEGER}, #{bundle,jdbcType=INTEGER}, 
      #{qtyallocated,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, getdate(),
      #{computewho,jdbcType=NVARCHAR}, #{caseqty,jdbcType=INTEGER}, #{oddpack,jdbcType=INTEGER}, 
      #{odd,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{batchno,jdbcType=VARCHAR}, 
      #{shipno,jdbcType=VARCHAR}, #{pickno,jdbcType=VARCHAR}, #{editwho,jdbcType=VARCHAR}, 
      #{editdate,jdbcType=TIMESTAMP}, #{packwho,jdbcType=VARCHAR}, #{packdate,jdbcType=TIMESTAMP}, 
      #{computeno,jdbcType=NVARCHAR}, #{shipwho,jdbcType=NVARCHAR}, #{shipdate,jdbcType=TIMESTAMP}, 
      #{loaddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.management.pojo.jc.JiaoCaiCompute">
    insert into JiaoCaiCompute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="issuenumber != null">
        issuenumber,
      </if>
      <if test="subcode != null">
        subcode,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="shortname != null">
        shortname,
      </if>
      <if test="loc != null">
        loc,
      </if>
      <if test="containerid != null">
        containerId,
      </if>
      <if test="pack != null">
        pack,
      </if>
      <if test="bundle != null">
        bundle,
      </if>
      <if test="qtyallocated != null">
        qtyallocated,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="1 == 1">
        computedate,
      </if>
      <if test="computewho != null">
        computewho,
      </if>
      <if test="caseqty != null">
        caseqty,
      </if>
      <if test="oddpack != null">
        oddpack,
      </if>
      <if test="odd != null">
        odd,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="batchno != null">
        batchno,
      </if>
      <if test="shipno != null">
        shipno,
      </if>
      <if test="pickno != null">
        pickno,
      </if>
      <if test="editwho != null">
        editwho,
      </if>
      <if test="1 == 1">
        editdate,
      </if>
      <if test="packwho != null">
        packwho,
      </if>
      <if test="packdate != null">
        packdate,
      </if>
      <if test="computeno != null">
        computeno,
      </if>
      <if test="shipwho != null">
        shipwho,
      </if>
      <if test="shipdate != null">
        shipdate,
      </if>
      <if test="loaddate != null">
        loaddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="issuenumber != null">
        #{issuenumber,jdbcType=NVARCHAR},
      </if>
      <if test="subcode != null">
        #{subcode,jdbcType=NVARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="shortname != null">
        #{shortname,jdbcType=NVARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=NVARCHAR},
      </if>
      <if test="containerid != null">
        #{containerid,jdbcType=NVARCHAR},
      </if>
      <if test="pack != null">
        #{pack,jdbcType=INTEGER},
      </if>
      <if test="bundle != null">
        #{bundle,jdbcType=INTEGER},
      </if>
      <if test="qtyallocated != null">
        #{qtyallocated,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="1 == 1">
        getdate(),
      </if>
      <if test="computewho != null">
        #{computewho,jdbcType=NVARCHAR},
      </if>
      <if test="caseqty != null">
        #{caseqty,jdbcType=INTEGER},
      </if>
      <if test="oddpack != null">
        #{oddpack,jdbcType=INTEGER},
      </if>
      <if test="odd != null">
        #{odd,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="batchno != null">
        #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="shipno != null">
        #{shipno,jdbcType=VARCHAR},
      </if>
      <if test="pickno != null">
        #{pickno,jdbcType=VARCHAR},
      </if>
      <if test="editwho != null">
        #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="1 == 1  ">
        getdate(),
      </if>
      <if test="packwho != null">
        #{packwho,jdbcType=VARCHAR},
      </if>
      <if test="packdate != null">
        #{packdate,jdbcType=TIMESTAMP},
      </if>
      <if test="computeno != null">
        #{computeno,jdbcType=NVARCHAR},
      </if>
      <if test="shipwho != null">
        #{shipwho,jdbcType=NVARCHAR},
      </if>
      <if test="shipdate != null">
        #{shipdate,jdbcType=TIMESTAMP},
      </if>
      <if test="loaddate != null">
        #{loaddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.pojo.jc.JiaoCaiCompute">
    update JiaoCaiCompute
    <set>
      <if test="issuenumber != null">
        issuenumber = #{issuenumber,jdbcType=NVARCHAR},
      </if>
      <if test="subcode != null">
        subcode = #{subcode,jdbcType=NVARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="shortname != null">
        shortname = #{shortname,jdbcType=NVARCHAR},
      </if>
      <if test="loc != null">
        loc = #{loc,jdbcType=NVARCHAR},
      </if>
      <if test="containerid != null">
        containerId = #{containerid,jdbcType=NVARCHAR},
      </if>
      <if test="pack != null">
        pack = #{pack,jdbcType=INTEGER},
      </if>
      <if test="bundle != null">
        bundle = #{bundle,jdbcType=INTEGER},
      </if>
      <if test="qtyallocated != null">
        qtyallocated = #{qtyallocated,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="1 == 1">
        computedate = getdate(),
      </if>
      <if test="computewho != null">
        computewho = #{computewho,jdbcType=NVARCHAR},
      </if>
      <if test="caseqty != null">
        caseqty = #{caseqty,jdbcType=INTEGER},
      </if>
      <if test="oddpack != null">
        oddpack = #{oddpack,jdbcType=INTEGER},
      </if>
      <if test="odd != null">
        odd = #{odd,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="batchno != null">
        batchno = #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="shipno != null">
        shipno = #{shipno,jdbcType=VARCHAR},
      </if>
      <if test="pickno != null">
        pickno = #{pickno,jdbcType=VARCHAR},
      </if>
      <if test="editwho != null">
        editwho = #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="1 == 1">
        editdate = getdate(),
      </if>
      <if test="packwho != null">
        packwho = #{packwho,jdbcType=VARCHAR},
      </if>
      <if test="packdate != null">
        packdate = #{packdate,jdbcType=TIMESTAMP},
      </if>
      <if test="computeno != null">
        computeno = #{computeno,jdbcType=NVARCHAR},
      </if>
      <if test="shipwho != null">
        shipwho = #{shipwho,jdbcType=NVARCHAR},
      </if>
      <if test="shipdate != null">
        shipdate = #{shipdate,jdbcType=TIMESTAMP},
      </if>
      <if test="loaddate != null">
        loaddate = #{loaddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.pojo.jc.JiaoCaiCompute">
    update JiaoCaiCompute
    set issuenumber = #{issuenumber,jdbcType=NVARCHAR},
      subcode = #{subcode,jdbcType=NVARCHAR},
      code = #{code,jdbcType=NVARCHAR},
      shortname = #{shortname,jdbcType=NVARCHAR},
      loc = #{loc,jdbcType=NVARCHAR},
      containerId = #{containerid,jdbcType=NVARCHAR},
      pack = #{pack,jdbcType=INTEGER},
      bundle = #{bundle,jdbcType=INTEGER},
      qtyallocated = #{qtyallocated,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      computedate = #{computedate,jdbcType=TIMESTAMP},
      computewho = #{computewho,jdbcType=NVARCHAR},
      caseqty = #{caseqty,jdbcType=INTEGER},
      oddpack = #{oddpack,jdbcType=INTEGER},
      odd = #{odd,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      batchno = #{batchno,jdbcType=VARCHAR},
      shipno = #{shipno,jdbcType=VARCHAR},
      pickno = #{pickno,jdbcType=VARCHAR},
      editwho = #{editwho,jdbcType=VARCHAR},
      editdate = getdate(),
      packwho = #{packwho,jdbcType=VARCHAR},
      packdate = #{packdate,jdbcType=TIMESTAMP},
      computeno = #{computeno,jdbcType=NVARCHAR},
      shipwho = #{shipwho,jdbcType=NVARCHAR},
      shipdate = #{shipdate,jdbcType=TIMESTAMP},
      loaddate = #{loaddate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>