<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.dao.liku.BankShuttleMapper" >
  <resultMap id="BaseResultMap" type="com.management.pojo.liku.BankShuttle" >
    <constructor >
      <idArg column="ID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="GUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="StatusDetail" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ErrorCode" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="BankNumber" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GUID, Name, Number, Status, Note, StatusDetail, ErrorCode, BankNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bankshuttle
    where ID = #{id,jdbcType=BIGINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bankshuttle
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.management.pojo.liku.BankShuttle" >
    insert into bankshuttle (ID, GUID, Name, 
      Number, Status, Note, 
      StatusDetail, ErrorCode, BankNumber
      )
    values (#{id,jdbcType=BIGINT}, #{guid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, 
      #{statusdetail,jdbcType=INTEGER}, #{errorcode,jdbcType=INTEGER}, #{banknumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.management.pojo.liku.BankShuttle" >
    insert into bankshuttle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="guid != null" >
        GUID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="number != null" >
        Number,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="note != null" >
        Note,
      </if>
      <if test="statusdetail != null" >
        StatusDetail,
      </if>
      <if test="errorcode != null" >
        ErrorCode,
      </if>
      <if test="banknumber != null" >
        BankNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="statusdetail != null" >
        #{statusdetail,jdbcType=INTEGER},
      </if>
      <if test="errorcode != null" >
        #{errorcode,jdbcType=INTEGER},
      </if>
      <if test="banknumber != null" >
        #{banknumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.pojo.liku.BankShuttle" >
    update bankshuttle
    <set >
      <if test="guid != null" >
        GUID = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        Number = #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        Note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="statusdetail != null" >
        StatusDetail = #{statusdetail,jdbcType=INTEGER},
      </if>
      <if test="errorcode != null" >
        ErrorCode = #{errorcode,jdbcType=INTEGER},
      </if>
      <if test="banknumber != null" >
        BankNumber = #{banknumber,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.pojo.liku.BankShuttle" >
    update bankshuttle
    set GUID = #{guid,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Number = #{number,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      Note = #{note,jdbcType=VARCHAR},
      StatusDetail = #{statusdetail,jdbcType=INTEGER},
      ErrorCode = #{errorcode,jdbcType=INTEGER},
      BankNumber = #{banknumber,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="getErrorMsg" resultType="com.management.vo.liku.ErrorMessageVo">
    SELECT b.ErrorCode as errorCode,e.ErrorRemark as errorMsg,b.bankNumber as bankId,b.name as name
    FROM bankshuttle AS B LEFT JOIN errorlist AS E ON E.ErrorCode=B.ErrorCode
    where b.ErrorCode &lt;&gt; '0'
    union
    SELECT b.ErrorCode as errorCode,e.ErrorRemark as errorMsg,b.bankNumber as bankId,b.name as name
    FROM bankhoists AS B LEFT JOIN errorlist AS E ON E.ErrorCode=B.ErrorCode
    where b.ErrorCode &lt;&gt; '0'
    union
    SELECT "107" as errorCode,"库不可用" as errorMsg, number as bankId, "立库故障" as name  from bank where status &lt;&gt; '0'  and OnOff='1'
    union
    SELECT "00" as errorCode,"暂存台不可用" as errorMsg, banknumber as bankId, "暂存台故障" as name  from banktemporaryarea where status &lt;&gt; '0'
  </select>

</mapper>