<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.dao.busi.SendOpenidListMapper" >
  <resultMap id="BaseResultMap" type="com.management.pojo.busi.SendOpenidList" >
    <constructor >
      <arg column="type" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="openid" jdbcType="NVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.management.pojo.busi.SendOpenidList" >
    insert into SEND_OPENID_LIST (type, openid)
    values (#{type,jdbcType=NVARCHAR}, #{openid,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.management.pojo.busi.SendOpenidList" >
    insert into SEND_OPENID_LIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="openid != null" >
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
    <select id="selectByType" resultType="com.management.pojo.busi.SendOpenidList">
      select type, openid
      from SEND_OPENID_LIST
      where type = #{type}
    </select>
</mapper>